@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
body{
background-color: #92C7CF;
color: #164863;
font-family: Signika Negative;
}
h1{
color: #43766C;
font-family: Exo 2;
text-align: center;
}
nav {
    font-family: 'Slim Jim', 'Impact', 'Arial Black', sans-serif;
    background: #92C7CF;
    font-size: 20px;
    margin: 0px 350px 0px 350px ;
    position:sticky;
    top: 0px;
}
  li {
    display: inline-block;
    padding: 16px;    
  }
a {
    color: #164863;
    text-decoration: none;    
      border-bottom: 2px solid #164863;  
  }
a:visited{
    color: navy;
    border-color: navy;
  }
a:hover{
    color: cornflowerblue;
    border-color:cornflowerblue;
  }
  a:active{
color: palevioletred;
border-color: palevioletred;
  }
.underline{
    text-decoration: underline;
}
#heading{
    color: #43766C;
}